body,
html {
    height: 100%;
}

.row {
    height: 100%;
}

.bg-dark {}

h1 {
    margin: 0;
}

.education-content{
    padding: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
}

.heading {
    margin: 0;
    font-family: 'Cookie', cursive;
    font-size: 6rem;
    background-color: #427D9D !important;
    text-align: center;
    margin-top: 100%;
}

.education-parent {
    background-color: #427D9D !important;
}
