html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.landing {
    margin: 0;
    font-family: 'Cookie', cursive;
    font-size: 6rem;
    background-color: #161A30;
    height: 100%;
    width: 100%;
    text-align: center;
}

#nameTest {
    color: white;
    /* padding-top: 2%; */
    text-shadow: 0px 0px 0 #000,
        1px -1px 0 #000,
        3px 6px #000,
        1px 1px #000;
    font-size: 80%;
}

#nameTitle {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 0 #000,
        1px -1px 0 #000,
        3px 6px #000,
        1px 1px #000;
}

#titleTest {
    color: white;
    font-size: 30%;
}

.social_media_buttons {
    color: white;
    padding: 7.5%;
    /* padding-bottom: 2.5% !important; */
    font-size: 50%;
    transition: color 0.2s ease;
}

.social_media_buttons:hover {
    color: #FFC0D9;
}

.resume-download-button {
    font-family: 'Consolas';
    display: inline-block;
    padding: 2%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.8s ease;
}

.resume-download-button:hover {
    background-color: white;
    color: black;
}